*{
    padding:  0;
    margin:0;
}
body{
    background-color:white;
    
}
header{
    text-align:center;
    padding:10px;
    height:50px;
    background: black;
    width: 100%;
}

main{
    padding:10%;
    display:grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    gap:10px;
    
    
}
main div{
    padding:100px;

}
.box-one{
    background-color: purple;
    grid-area: a;
}
.box-two{
    background-color: rgb(112, 38, 112);
    grid-area: b;
}
.box-three{
background-color: rgb(146, 40, 146);
grid-area: c;
}
.box-four{
    background-color: rgb(209, 62, 209);
    grid-area: d;

}
.box-five{
    background-color: rgb(245, 112, 245);
    grid-area: e;
}
